.box{
  width: 900px;
  height: auto;
  min-height: 300px;
 
}
//导航
.nav{
  width: 900px;
  height: 120px;
  //background: red;
  border-bottom: 1px solid #333333;
  //background: green;
}
.navtext{
  width: 150px;
  margin-left:20px ;
  height:50px;
  line-height: 60px;

}
.navInput{
  width: 900px;
  height: 100px;
  //background: red;
  display: flex;
  margin-top: 20px;
  margin-left:20px ;
  .navIcon{
    display: flex;
    width: 250px;
    height: 40px;
    span{
     line-height: 30px;
      margin-right: 10px;
    }
    Input {
      width: 150px;
    }

  }

}
.navInput Button{
  margin-left: 90px;
}
//主体
.main{
  width: 900px;
  height: 120px;


  div{
    height: 40px;
    line-height: 40px;
    font-size:12px ;
    padding-left: 20px;
    border-bottom: 1px solid #333333;
  }
  .mainMiddle{
    background: rgba(242, 242, 242, 1);
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      width: 800px;
      height: 40px;

    }
    li{
      margin: 0;
      padding: 0;
   list-style: none;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
}
.footer{
  width: 900px;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 800px;
    height: 40px;
    padding-left: 20px;

  }
  li{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}