.classfify{
        position: relative;
        .newadd{
           position: absolute;
            top: 50px;
            right:50px;
        }
      .search1{
          margin-top: 30px;
          .putin{
              position: absolute;
              top: -30px;
              left:30px;
          }
          .search {
              margin-top: 30px;
              display: flex;
              .inp {
                  width: 80px;
                  height: 100px;
                  margin-right: 20px;
              }
              .word{
                  display: inline-block;
                  width: 100px;
                  padding-left:20px;
              }
          }
      }
  }
.img{
  display: inline-block;
  width:58px;
  height:58px;
  border-radius: 50%;
}
